<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
<body>
    <form action="/user/create" method="post">
        <label for="name">Input name:</label>
        <input type="text" id="name" name="name">

        <label for="surname">Input surname:</label>
        <input type="text" id="surname" name="surname">

        <label for="password">Input password:</label>
        <input type="text" id="password" name="password">

        <label for="address_mail">Input mail address</label>
        <input type="email" id="address_mail" name="address_mail">

        <input type="submit" value="create">
    </form>
</body>
</html>